
    .container {

        background-color: rgb(239, 247, 242);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: 15px;
    margin-top: 100px;
    height: 600px;
    border: solid;
    }
    
    .navbar {
        padding: 20px;
       font-weight: bolder;
        
        
        
      
    }
    
    body {
        background-color: teal;
        
    }
    
    .form-group {
        width: 1000px;
        padding-top: -10px;
    }
   
    #form-group {
        width: 1000px;
    }
   
    .btn {
        margin-top: 30px;
        color: teal;
        background-color:black;

    }

    #exampleFormControlTextarea1{
        text-align: center;
    

    }


