.container {

    background-color: rgb(239, 247, 242);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: black;
padding: 30px;
margin-top: 100px;
height: 800px;
border: solid;
width: 900px;
margin-bottom: 100px;
}


.navbar {
    padding: 20px;
   font-weight: bolder;
    
    
    
  
}

body {
    background-color: teal;
    
}
a {
    padding: 30px;
}